*:not(dialog) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    border: unset;
}

a {
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%;
    height: auto;
}

.d_none {
    display: none;
}

@font-face {
    font-family: 'Kablammo';
    src: url(./assets/fonts/kablammo.ttf);
}

@font-face {
    font-family: 'Boogaloo';
    src: url(./assets/fonts/Boogaloo.ttf);
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    background-image: url(./assets/img/body-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: 'Kablammo', Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    font-family: 'Kablammo', Arial, Helvetica, sans-serif;
    font-size: 3rem;
    letter-spacing: 3px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

canvas {
    display: block;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    width: 720px;
    height: 480px;
    background-color: black;
}

#player,
#air,
#clouds,
#layer_three,
#layer_two,
#layer_one,
#regular_chicken,
#small_chicken,
#salsa_statusbar,
#health_statusbar,
#coin_statusbar,
#salsa_bottle_ground,
#salsa_bottle_air,
#bottle_spritesheet,
#coin,
#boss,
#boss_statusbar {
    display: none;
}

.start-menu {
    width: 720px;
    height: 480px;
    background-image: url(./assets/img/startscreen/startscreen_2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-container {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.start-menu button, .start-menu a {
    background-color: rgb(255, 191, 0);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 10px 15px;
    font-weight: 700;
    font-size: 24px;
    font-family: 'Kablammo', Arial, Helvetica, sans-serif;
    cursor: pointer;
    transition: transform 100ms ease-in-out, background-color 100ms ease-in-out;
}

.start-menu button:hover, .start-menu a:hover {
    transform: scale(1.1);
    background-color: hsl(45, 100%, 60%);
}

dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.25);
}

body:has(dialog[open]) {
    overflow: hidden;
}

dialog {
    padding: 0;
    outline: none;
    width: 720px;
    border: none;
    border-radius: 15px;
    background-color: #dba801;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
    scrollbar-width: none;
}

dialog .wrapper {
    padding-inline: 15px;
    padding-block: 10px
}

.dialog-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog-header h2 {
    text-align: center;
    flex: 1;
    font-size: 2rem;
}

.dialog-header button {
    cursor: pointer;
    background-color: #dba801;
}

.dialog-header img {
    width: 32px;
}

.control-keys-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    flex-wrap: wrap;
}

.control-keys {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.control-keys p {
    font-size: 1.5rem;
}

.control-img {
    width: 60px;
}

.game-explanation-container {
    margin-top: 50px;
}

.game-explanation-container h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}

.game-explanation-container p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.end-screen {
    width: 720px;
    height: 480px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;
}

.win {
    background-image: url(./assets/img/win_loose/You\ Won\ B.png);
}

.loose {
    background-image: url(./assets/img/win_loose/Game\ Over.png);
}

.end-screen-container {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.end-screen button {
    background-color: rgb(255, 191, 0);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 10px 15px;
    font-weight: 700;
    font-size: 24px;
    font-family: 'Kablammo', Arial, Helvetica, sans-serif;
    cursor: pointer;
    transition: transform 100ms ease-in-out, background-color 100ms ease-in-out;
}

.end-screen button:hover {
    transform: scale(1.1);
    background-color: hsl(45, 100%, 60%);
}

